/*
  * INSTRUCTIONS FOR USING CUSTOM.SCSS

  In this file you can:

  1. Add project specific styles that can expand or override
     the default styles.
  2. Override the global CSS variables defined in
     /src/theme/_variables.scss.
  3. Override the scoped CSS variables defined in the various
     files in /src/theme/scoped-variables.

  * OVERRIDE GLOBAL CSS VARIABLES
  
  To override global CSS variables, wrap them in the :root selector.
  Example of overriding a global CSS variable:

  :root {
    --primary-color: #281f47;
  }

  * OVERRIDE SCOPED CSS VARIABLES

  To override scoped CSS variables, wrap them in the appropriate
  page/component element selectors. The required selectors are listed
  in the files in /src/theme/scoped-variables. You must also either
  add the !important property to the variable values, or increase the
  specificity of the selector by adding the [class][class] attribute
  selectors directly after the element selector. Otherwise these variables
  won’t take precedence. Examples of overriding scoped CSS variables:

  page-elastic-search[class][class] {
    --inl-color: #000;
  }

  or (less preferred):

  page-elastic-search {
    --inl-color: #000 !important;
  }

  * ALTERNATIVE TO OVERRIDING CSS VARIABLES

  Instead of using custom.scss to override CSS variables you can also
  directly edit the variable values in /src/theme/_variables.scss
  and in the various files in /src/theme/scoped-variables.
  
  The pros of this approach are that the size of the CSS bundle of the
  website becomes slightly smaller, since CSS variables with the same
  property names are not defined twice. This speeds up page loading a bit.
  The cons are that the risk for merge conflicts between the base app
  and the project app increases if the CSS variables are modified in the
  base app.

  If you directly edit /src/theme/_variables.scss or the files in
  /src/theme/scoped-variables it’s recommended that you leave the default
  values of the variables as comments at the end of edited lines.

  * REFERENCE FOR OVERRIDING CSS VARIABLES

  This is a complete reference of both global and scoped CSS variables that
  can be overridden in custom.scss, including the required selectors and
  default values of the variables:

  :root {
    --primary-color:                    #497083;
    --primary-color-rgb:                73, 112, 131;
    --primary-color-contrast:           #fff;
    --secondary-color:                  #d6d6d6;
    --secondary-color-contrast:         #000;
    --tertiary-color:                   var(--main-background-color);
    --default-link-color:               #004aa5;
    --main-background-color:            #ededed;
    --main-background-accent-color:     #ccc;
    --route-loading-progress-bar-color: rgba(255, 255, 255, 0.8);
    --search-match-background-color:    #a5d7a5;
    --text-area-background-color:       #fafafa;

    --button-background-color:               var(--primary-color);
    --button-text-color:                     var(--primary-color-contrast);
    --fab-button-primary-background-color:   var(--primary-color);
    --fab-button-primary-icon-color:         var(--primary-color-contrast);
    --fab-button-secondary-background-color: #e9e9e9;
    --fab-button-secondary-icon-color:       #000;
    --outline-button-color:                  var(--primary-color);

    --font-stack-system:             -apple-system, BlinkMacSystemFont, "Segoe UI",
                                     Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                                     "Helvetica Neue", sans-serif;
    --font-stack-app-base:           "Roboto", var(--font-stack-system);
    --font-stack-home-banner:        var(--font-stack-app-base);
    --font-stack-tei:                "SourceSerif", Constantia, "Lucida Bright",
                                     Lucidabright, "Lucida Serif", Lucida,
                                     "DejaVu Serif", "Bitstream Vera Serif",
                                     "Liberation Serif", Georgia, serif;
    --font-stack-tei-blackletter:    "Roboto", var(--font-stack-system);
    --font-stack-tei-print-stamp:    Cambria, "Hoefler Text", Utopia,
                                     "Liberation Serif", "Nimbus Roman No9 L Regular",
                                     Times, "Times New Roman", serif;
    --font-stack-tei-editorial-note: "Helvetica Neue", "Arial Nova", Helvetica,
                                     Arial, sans-serif;
  }

  ion-app[class][class] {
    --abbreviations-color:     #ffe2fa;
    --emendations-color:       #ccc;
    --normalisations-color:    #e6e6e6;
    --pageBreakEdition-color:  #8f6b28;
    --pageBreakOriginal-color: #b32fa0;
    --persName-color:          #f9e0bf;
    --placeName-color:         #dee8ca;
    --workTitle-color:         #f7efba;

    --info-overlay-background-color: #333;
    --info-overlay-text-color:       #e3e3e3;
    --info-overlay-link-color:       #84cce3;

    --secondary-toolbar-color:          var(--secondary-color);
    --secondary-toolbar-color-contrast: var(--secondary-color-contrast);

    --side-menu-text-color:                        #000;
    --side-menu-background-color:                  var(--main-background-color);
    --side-menu-border-right-color:                #dedede;
    --side-menu-divider-color:                     #dedede;
    --side-menu-hover-color:                       var(--primary-color);
    --side-menu-description-text-color:            #4f4f4f;
    --side-menu-collection-title-text-color:       var(--side-menu-text-color);
    --side-menu-collection-title-background-color: #bababa;
    --side-menu-back-button-text-color:            var(--secondary-toolbar-color-contrast);
    --side-menu-back-button-background-color:      var(--secondary-toolbar-color);
    --side-menu-selected-text-color:               var(--side-menu-text-color);
    --side-menu-selected-font-weight:              bold;
    --side-menu-selected-background-color:         transparent;
    --side-menu-selected-hover-color:              var(--side-menu-hover-color);
    --side-menu-selected-description-text-color:   var(--side-menu-description-text-color);

    --text-changer-mobile-color:          var(--secondary-toolbar-color);
    --text-changer-mobile-color-contrast: var(--secondary-toolbar-color-contrast);

    --top-menu-height:                         62px;
    --top-menu-toolbar-button-icons-font-size: 1.875rem;
    --top-menu-button-filter:                  drop-shadow(0 1px 3px rgba(35, 35, 35, .3));
    --top-menu-logo-height:                    56px;
  }

  page-elastic-search[class][class] {
    --com-color:  #980202;
    --est-color:  #0a2a80;
    --fore-color: #113c49;
    --inl-color:  #812b5d;
    --ms-color:   #69863a;
    --tit-color:  #5e1a06;
    --var-color:  #803fa7;

    --hititem-border-color:           var(--main-background-accent-color);
    --hititem-hover-background-color: #fff;
    --hititem-hover-border-color:     var(--outline-button-color);

    --search-match-highlight-background-color: var(--search-match-background-color);
    --search-match-highlight-text-color:       #000;

    --date-histogram-year-bar-color:      var(--primary-color);
    --date-histogram-year-hover-color:    var(--secondary-color);
    --date-histogram-year-in-range-color: #751e22;
  }

  page-index[class][class] {
    --list-item-background-color:       transparent;
    --list-item-border-color:           var(--main-background-accent-color);
    --list-item-hover-background-color: #f5f5f5;
    --list-heading-background-color:    #e0e0e0;
    --list-heading-border-color:        #979797;
  }

  page-introduction[class][class] {
    --intro-toc-background-color: var(--secondary-toolbar-color);
    --intro-toc-text-color:       var(--secondary-toolbar-color-contrast);
  }

  page-text[class][class] {
    --error-variant-background-color:           #f3c598;
    --interpunction-variant-background-color:   #dbf0ec;
    --lemma-identical-variant-background-color: #fff1b9;
    --orthographic-variant-background-color:    #eee6ff;
    --substantial-variant-background-color:     #fee0e2;
    --typographic-variant-background-color:     #f6e65b;
    --variant-background-color:                 #c5c5c5;
  }

*/

/* Override CSS variables */
:root {
  --primary-color:                       #2b3d55;
  --primary-color-rgb:                   43, 61, 85;
  --secondary-color:                     #ccced3;
  --default-link-color:                  #8d1c60;
  --fab-button-primary-background-color: #623247;
  --outline-button-color:                #375181;
}

ion-app[class][class] {
  --secondary-toolbar-color:                     #d1d2c5;

  --side-menu-text-color:                        #fff;
  --side-menu-background-color:                  #623247;
  --side-menu-divider-color:                     #6d5252;
  --side-menu-hover-color:                       #bc97a7;
  --side-menu-description-text-color:            #e0e0e0;
  --side-menu-collection-title-background-color: #3f1f2e;
  --side-menu-back-button-text-color:            var(--side-menu-text-color);
  --side-menu-back-button-background-color:      var(--side-menu-background-color);
  --side-menu-selected-font-weight:              normal;
  --side-menu-selected-background-color:         #8f4f6b;
  --side-menu-selected-description-text-color:   #f7f7f7;
}

page-elastic-search[class][class] {
  --date-histogram-year-in-range-color: #c71a23;
}

/* Custom, project specific styles */

/* Sidans rubrik på ingångssidan. */
page-home {
  .portrait-mode h1.site-title.site-title.site-title {
    font-family: "Crimson Pro", "SourceSerif", serif;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.042em;
    text-align: center;
    text-transform: uppercase;
  }

  .frontpage-editions-list {
    column-gap: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.75em 0;

    p {
      margin: 0;
    }

    ul {
      margin-top: 0;
    }

    li {
      padding-bottom: 0.25em;
    }
  }

  .frontpage-editions-list-col {
    max-width: 440px;
    width: 100%;
  }

  /* Unesco logon i markdown på startsidan. */
  img[src$="#front-page-unesco-logo"] {
    display: block;
    margin: 3em auto;
  }
} 

div.tei {
  /* Indrag för strofer i Publicistiken och dramatiken i Läsning för barn. */
  p.lgIndent {
    margin-left: 80px !important;
    text-indent: -35px !important;

    &.lIndent {
      margin-left: 115px !important;
      text-indent: -35px !important;
    }
  }

  /* Rubrikstilar för akter och scener i Dramatik. */
  h2.tei.act {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin: 4em 0 1.25em 0;
    text-align: center;
    text-transform: uppercase;
  }
  h3.tei.scene {
    font-style: italic;
    font-weight: 400;
    margin: 2.5em 0 1em 0;
    text-align: center;
  }

  /* Marginaler i Dramatik. */
  div.drama {
    p.center + p.invisiblelg {
      margin-bottom: 0 !important;
    }
    p.invisiblelg + p.center:not(.topMargin) {
      margin-top: -1em !important;
    }
    h3.scene + p.noIndent + p.invisiblelg + p.l {
      margin-top: -1em !important;
    }
    p.center.topMargin + h5.sub2est {
      margin-top: 0 !important;
    }
    p.center.topMargin + h5.sub2est + p.invisiblelg {
      margin-bottom: 0 !important;
    }
    p.center.topMargin + h5.sub2est + p.invisiblelg + p.l {
      margin-top: -0.8em !important;
    }
    h5.sub2est + p.center.topMargin {
      margin-top: -0.8em !important;
    }
    h5.sub2est + p.invisiblelg {
      margin-bottom: 0 !important;
    }
    h5.sub2est + p.invisiblelg + p.l {
      margin-top: -0.8em !important;
    }
  }
  p.tei.dramasub {
    font-size: 1.0589em;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0 1.5em 0;
    text-align: center;
    text-indent: 0;
  }
  p.tei.dramasub + h2.tei.act {
    margin-top: 2em;
  }
  h4.tei.castlistheading {
    font-weight: bold;
  }
  h5.tei.incorppoem {
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 1.3em 0 0.5em 45px;
    text-align: left;
  }
  h5.tei.incorppoem > .stageincorpheading {
    letter-spacing: normal;
  }
  h5.tei.incorppoem + p.tei.invisiblelg {
    margin-bottom: 0 !important;
  }
  h6.tei.incorpsub {
    font-weight: normal;
    font-style: normal;
    margin: 1em 0 0 0;
    text-align: center;
  }
  .castlistwrapper {
    margin: 2em 0 1.5em 1.25em;
  }
  .dramaversereply {
    margin: 1em 0 0 45px;
  }
  h5.tei.incorppoem + .dramaversereply {
    margin-top: 0;
  }
  .dramaversereply .negIndent {
    margin-left: -45px;
    text-indent: 0;
  }

  .noMarginsRight {
    margin: 0;
    text-align: right;
    text-indent: 0;
  }
}

.tei.show_pageNumbering div.dramaversereply span.paragraph_number,
.tei.show_pageNumbering p.lgIndent span.paragraph_number {
  margin-left: -80px;
}
.tei.show_pageNumbering p.lgIndent.lIndent span.paragraph_number {
  margin-left: -115px;
}

page-about {
  /* Högerställ spalten med verkdel i tabeller över delutgåvorna. */
  table.editions-list {
    td:first-child {
      text-align: right;
    }
    td {
      padding-bottom: 0;
    }
    tr:last-child > td {
      padding-bottom: 0.5em;
    }
  }

  /* Bilder i kringtexter */
  figure {
    margin: 1.75em 0;

    &.centered {
      margin: 1.75em auto;
    }

    figcaption {
      font-size: 1rem;
      font-style: italic;
      margin-top: 0.5em;
    }
  }

  /* Tabell utan marginaler i kringtexter */
  table.no_margins_table {
    td {
      padding: 0 0.75em 0 0;

      &:last-child {
        padding: 0;
      }
    }
  }
}

page-elastic-search {
  .info.markdown {
    /* Sökinstruktionerna i avancerade sökningen */
    details {
      padding: .5em .5em 0;

      ul li {
        line-height: 1.5;
      }

      ul li + li {
        padding-top: 0.75em;
      }
    }

    summary {
      font-weight: bold;
      margin: -.5em -.5em 0;
      padding: .5em;
    }

    details[open] {
      border-bottom: 1px solid #aaa;
      padding: .5em;

      summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
      }
    }

    .query_example {
      background-color: #fdfdfd;
      border: 1px solid var(--button-background-color);
      border-radius: 3px;
      color: var(--button-background-color);
      font-family: monospace;
      font-size: 0.889em;
      padding: 0.125em 0.25em;
    }
  }
}

/* Cookiebannern */
a.cky-banner-element {
  cursor: pointer;
  text-decoration: underline;
}
#cky-consent,
#cky-settings-popup {
	font-family: var(--font-stack-app-base);
}

/*
Legacy styles for intro TOC and some headings in actual intro only used
in the Finnish intros that have not been converted to new coding style yet.
These styles must be removed when the Finnish intros have been updated.
*/
page-introduction #TOC h2 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}
page-introduction #TOC h2.contentSection.smallCaps {
  font-size: 1.2em;
  margin-bottom: .6em;
  margin-top: 1.2em;
  padding-top: .2em;
  font-variant: small-caps;
  font-weight: 600;
  line-height: 1;
}
page-introduction #TOC h5 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  margin-top: 0.1rem;
}
page-introduction #TOC h5.tei.contentSub2 {
  font-size: 1em;
  margin-bottom: .4em;
  margin-top: .1em;
  font-weight: 600;
  line-height: 1;
}
page-introduction div[data-id="cont_introduction"] h2.tei.section {
  text-align: left !important;
  font-weight: normal !important;
  margin: 1.4em 0 1.3em 0 !important;
  font-size: 1.4em !important;
}
page-introduction div[data-id="cont_introduction"] h3.italics {
  text-align: left !important;
  font-style: italic;
  font-weight: normal !important;
  margin: 1.3em 0 1.2em 0 !important;
  font-size: 1.2em !important;
}
page-introduction div[data-id="cont_introduction"] h4 {
  font-style: italic;
  text-align: left;
  font-weight: normal;
  font-size: 1em;
  margin: 1.1em 0 1em 0;
}
/* End of legacy intro styles */
